h1, h2  {
    font-family: 'oswald', sans;
}

body {
    color: darkblue;
    font-family: 'open sans', sans;
    margin: 10px 50px 10px 50px;
    width: 950px;
    background-color: ivory;
}

img {
    float: left;
}