/* 
Author: Daniel Francis Barit
Date: 11/14/2019
File Description: CSS for all files
*/

/* General */
body{
    margin: 0 auto;
    text-align: center;
    display: inline;
    background-color:whitesmoke;
}
main{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
header{
  margin-top: -20px;
}

* {
  box-sizing: border-box;
}

/* Homepage CSS */
.column {
  float: left;
  width: 50%;
  padding: 20px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

/* Styling all product images */
img{
    width: 250px;
    height: 200px;
}
/* Enlarges image on mouse hover 
.img-hover-zoom {
    transition: transform .5s; 
  }*/
  /* On mouse hover, zoom image 150% 
  .img:hover{
    transform: scale(0); 
  }*/

/* Styling the products position relative to one another */
section {
  float: left;
  width: 30%;
  padding: 20px;
}
  /* Create border around all products */
  .container {
    border-radius: 10em;
    background-color: rgba(255, 255, 255, 0.52);
    border: 2px solid black;
    padding: 30px;
  }

/* Postion of button on each product page */
.button{
  font-family: 'ltim';
  font-size:40px;
  background-color: rgb(10, 212, 23);
  color: rgb(0, 0, 0);
  border-style: solid;
  border-color: black;
}


/* Retrived from W3Schools. Source: https://www.w3schools.com/css/css_navbar.asp */
/* Navigation Bar Design */
ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(0, 17, 255);
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
