/* General */
body {
    width: 800px;
    margin: 0 auto;
    background-color: cadetblue;
}

/* Typography */
h1, h2 {
    text-align: right;
    color:red;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: aqua;
text-shadow: blueviolet;
}

p {
    color: rgb(21, 120, 153);
    text-align: center;
    font-size: large;
    font-weight: bold;
}

/* Block styling */
body > div {
    border: 5px solid black;
    display: flex;
    background-color: salmon;
}

/* Form styling */
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background: url(./images/phone_globe.jpg) no-repeat right;
    border: 3px dotted lightgreen;
}

/* Styling the products */
img {
    vertical-align: auto;
    width: 200px;
    height: 200px;
    border: 2px solid blue; 
}

